<div class='con'>
    <webex-description
    primary="We’re a cross-disciplinary team of"
    className="middle"
    ></webex-description>
    <div class='banner'>designers</div>
    <webex-description
    primary="We work collaboratively, bridging distance gaps, cultures, and modes of working. We know, everyone says that. But we do it out of passion and necessity. We’re a global team whose innovation is reliant on the products we design. We’re living it every day."
    secondary="We believe it’s not about where you work, but how you work. We welcome diversity of thought and diversity of background. We see personal expression as the most genuine form of communication. We actively nurture an environment where everyone has a voice—their voice. "
    className="middle"
    ></webex-description>
    <webex-description
    secondary="We're committed to creating a design culture that’s honest, open, inclusive, supportive and amazingly creative. Where the stage is set for everyone to do the most meaningful work of their lives."
    className="middle"
    ></webex-description>
    <webex-description
    secondary="We’re Webex Design "
    className="middle"
    ></webex-description>
</div>
<webex-team-banner></webex-team-banner>
<webex-subscription-banner></webex-subscription-banner>