<div class='layout-con'>
    <webex-description
    primary="We’re a cross-disciplinary team of"
    className="middle"
    ></webex-description>
    <div class='banner'>designers</div>
    <webex-description
    primary="We work collaboratively, bridging distance gaps, cultures, and modes of working. We know, everyone says that. But we do it out of passion and necessity. We’re a global team whose innovation is reliant on the products we design. We’re living it every day."
    className="middle"
    ></webex-description>
    <webex-description
    [secondary]="text_banner"
    className="middle"
    ></webex-description>
</div>
<webex-team-banner></webex-team-banner>
<webex-subscription-banner-simple></webex-subscription-banner-simple>