<div #area>
    <webex-con>
        <webex-description
        primary="We’re a cross-disciplinary team of designers, researchers, and technologists who care deeply about how people work together."
        className="large banner-text-full"
        ></webex-description>
    </webex-con>
    <div class='banner'></div>
    <webex-con>
        <webex-description
        class="first-desc"
        primary="We work collaboratively, bridging distance gaps, cultures, and modes of working. We know, everyone says that. But we do it out of passion and necessity. We're a global team whose innovation is reliant on the products we design. We're living it every day."
        className="middle banner-text-full"
        ></webex-description>

        <webex-description
        primary="We believe it's not about where you work, but how you work. We welcome diversity of thought and diversity of background. We see personal expression as the most genuine form of communication. We actively nurture an environment where everyone has a voice—their voice. "
        className="middle banner-text-full"
        ></webex-description>

        <webex-description
        primary="We're committed to creating a design culture that's honest, open, inclusive, supportive and amazingly creative. Where the stage is set for everyone to do the most meaningful work of their lives."
        className="middle banner-text-full"
        ></webex-description>

        <h1 tabindex="2" class='webex_title banner-text-full'>We're Webex Design</h1>
    </webex-con>    
</div>
<webex-placeholder></webex-placeholder>