@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;
@import 'layout.scss';

:host {
    @include mixins.container-page();
}

.layout-con {

    webex-description {
        margin-top: func.rem-calc(100) ;
    }

    .banner {
        @include mixins.block(func.rem-calc(523), func.rem-calc(476));
        margin:func.rem-calc(100) auto;

        text-align: center;
        font-size: func.rem-calc(144);
        background: url('../../assets/other/manifesto.svg') no-repeat center;
        background-size: contain;
    }
}

@media screen and (max-width: settings.$response-width-middle) {

    .layout-con {
    
        webex-description {
            margin-top: func.rem-calc(40) ;
        }
    
        .banner {
            @include mixins.block(100%, func.rem-calc(283));
            font-size: func.rem-calc(80);
        }
    }

}