<webex-description
level="1"
primary="Our team"
secondary="Check out the disciplines that make up Webex Design. "
link="Meet the team"
url="/team"
class="title"
className="middle"
></webex-description>
<div #list class='list'>
    <a tabindex="2" [routerLink]="['/team', 0]">Content<i></i></a>
    <a tabindex="2" [routerLink]="['/team', 1]">Devices<i></i></a>
    <a tabindex="2" [routerLink]="['/team', 2]">Ops<i></i></a>
    <a tabindex="2" [routerLink]="['/team', 3]">Product<i></i></a>
    <a tabindex="2" [routerLink]="['/team', 4]">Research<i></i></a>
    <a tabindex="2" [routerLink]="['/team', 5]">Systems<i></i></a>
</div>