@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    @include mixins.container-page();

    margin-bottom: 2rem;
}

webex-description {
    margin-top: func.rem-calc(100) ;
}

@media screen and (max-width: settings.$response-width-middle) {

    webex-description {
        margin-top: func.rem-calc(40) ;
    }

}