@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    @include mixins.block(func.rem-calc(860), func.rem-calc(500));

    position: relative;
    margin:func.rem-calc(215) auto;

    webex-description {
        @include mixins.block(func.rem-calc(420), auto);
    }

    img{
        @include mixins.block(func.rem-calc(464), auto);
        @include mixins.position4(- func.rem-calc(146), 0);
    }
}

@media screen and (max-width: settings.$response-width-middle) {

    :host {
        @include mixins.block(func.rem-calc(360), auto);

        margin:func.rem-calc(20) auto;
    
        img{
            @include mixins.block(func.rem-calc(300), auto);
            position: static;
            margin-bottom: func.rem-calc(20);
        }
    }

}