@use 'colors.scss' as colors;
@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

@mixin description($font-size, $line-height, $margin-top:0) {
    font-size: $font-size;
    line-height: $line-height;
    margin-top: $margin-top;
    display: block;
    height: auto;
}

:host, :host>div {
    display: block;
    height: auto;
}

.center { text-align: center;}

.primary {
    @include description(func.rem-calc(42), func.rem-calc(48));

    width: 100%;
    word-wrap:break-word;
}

.secondary {
    @include description(func.rem-calc(20), func.rem-calc(24), func.rem-calc(12));

    width: 100%;
    word-wrap:break-word;
    color: colors.$font-secondary;
}

.link_warps {
    @include mixins.block(100%, func.rem-calc(56), block);

    vertical-align:top;
}

.link{
    @include description(func.rem-calc(15), func.rem-calc(56));
    @include mixins.block(auto, func.rem-calc(56),inline-block);

    padding: 0 func.rem-calc(28);
    border-radius: func.rem-calc(28);
    background-color: colors.$font-primary;
    color:colors.$page-background;
    vertical-align:top;

    cursor: pointer;

    i{
        @include mixins.block(func.rem-calc(14), func.rem-calc(56), inline-block);
        
        background: url('../../assets/icons/arrow-right.svg') no-repeat center;
        margin-left: func.rem-calc(3);
        vertical-align: middle;
    }
}

.large {

    .primary{
        @include description(func.rem-calc(72), func.rem-calc(72));
    }

    .link_warps {
        margin-top: func.rem-calc(72);
    }
}

.middle {

    .primary{
        @include description(func.rem-calc(42), func.rem-calc(48));
    }

    .link_warps {
        margin-top: func.rem-calc(24);
    }
}

.small {
    .primary{
        @include description(func.rem-calc(24), func.rem-calc(26));
    }
    .secondary {
        @include description(func.rem-calc(18), func.rem-calc(20));
    }
}

.fisrt-line {
    margin-top:0!important;
}

@media screen and (max-width: settings.$response-width-middle) {
    .large {
        .primary{
            @include description(func.rem-calc(56), func.rem-calc(60));
        }
    }
}


@media screen and (max-width: settings.$response-width-small) {
    .large {
        .primary{
            @include description(func.rem-calc(42), func.rem-calc(48));
        }

        .link_warps {
            margin-top: func.rem-calc(24);
        }
    }
    
    .middle {
        .primary{
            @include description(func.rem-calc(36), func.rem-calc(40));
        }

        .link_warps {
            margin-top: func.rem-calc(24);
        }
    }
    
    .small {
        .primary{
            @include description(func.rem-calc(20), func.rem-calc(24));
        }
        .secondary {
            @include description(func.rem-calc(16), func.rem-calc(20));
        }
    }
}

