<div [ngClass]="className">
    <p role="heading" [attr.aria-level]="level" tabindex="2" class='primary' *ngIf="primary" [innerHTML]="html(primary)" [attr.aria-label]="html(primary)"></p>
    <p role="document" tabindex="2" class='secondary'  *ngIf="secondary" [ngClass]="{'fisrt-line': !primary}" [innerHTML]="html(secondary)" [attr.aria-label]="html(secondary)" ></p>
    <div class="link_warps" role="presentation" [ngClass]="{'fisrt-line': !primary && !secondary}"  *ngIf="url" >
        <a tabindex="2" class="link" [routerLink]="url" >{{link}}<i></i></a>
    </div>
</div>
