<div class="menu" #menu (click)="hideMenum($event)">
    <div class="nav">
        <a *ngFor="let nav of navs" [routerLink]="nav.path" routerLinkActive="active">{{nav.name}}</a>
    </div>
</div>
<div class="header" (click)="hideMenum($event)">
    <a class="logo" routerLink="/" routerLinkActive="active"></a>
    <span #menu_title>{{title}}</span>
    <a class="menu_btn" (click)="clickMenu($event)">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path #menu_btn_path_1 d="M2 5 l10 0 l10 0" stroke='white' stroke-width='2'/>
            <path #menu_btn_path_2 d="M2 11 l10 0 l10 0" stroke='white' stroke-width='2'/>
            <path #menu_btn_path_3 d="M2 17 l10 0 l10 0" stroke='white' stroke-width='2'/>
            <!-- close button
            <path d="M4 4 l8 8 l8 8" stroke='white' stroke-widh='2'/>
	        <path d="M12 11 l0 0 l0 0" stroke='white' stroke-widh='2'/>
	        <path d="M4 20 l8 -8 l8 -8" stroke='white' stroke-widh='2'/>
            -->
        </svg>
    </a>
</div>