@use 'colors.scss' as colors;
@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

$header-height: 6rem;
$header-padding: 4rem;
$header-padding-mobile: 1rem;
$header-font: 1.5rem;
$nav-height: 6rem;
$nav-font: 4rem;

$header-height-small: 4rem;
$nav-height-small: 4rem;
$nav-font-small: 3rem;


:host {
    @include mixins.position(0rem, 0rem, fixed);

    display: block;
    width: 100%;
    height: 0%;
    z-index: settings.$z-index-fixed-on;
}

.header {
    @include mixins.block(100%, $header-height);
    @include mixins.position();
    
    background-color: colors.$page-background;
    text-align: center;
    
    span {
        font-size: $header-font;
        text-transform: capitalize;
    }

    .logo {
        @include mixins.block(func.rem-calc(140), $header-height);
        @include mixins.position(0, $header-padding);

        background: url('../../assets/icons/logo2.svg') no-repeat center;
        cursor: pointer;
    }

    .menu_btn {
        @include mixins.block(1.5rem, $header-height);

        position: absolute;
        right: $header-padding;
        top: 0px;
        cursor: pointer;

        svg {
            @include mixins.block(1.5rem, 1.5rem, 'inline-block');
            vertical-align: middle;
        }
    }
}

.menu {
    @include mixins.position();

    width: 100%;
    height: 0%;
    background-color: colors.$page-background;
    overflow: hidden;
    
    &::before {
        @include mixins.block(100%, $header-height);

        content: '';
        margin-bottom: 2rem;
    }

    .nav a {
        @include mixins.block(100%, $nav-height);

        color: transparent;
        background-image: linear-gradient(to right, #ffffff 0%, #181818 0%);
        background-clip:text;
        font-size: $nav-font;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;

        &:hover {
            color: transparent!important;
        }
    }

    .nav:hover a{
        color: colors.$font-primary-hover;
    }
}



@media screen and (max-width: settings.$response-width-small) {
    .header {
        span {
            display: none;
        }
        .logo {
            left: $header-padding-mobile;
        }
        .menu_btn {
            right: $header-padding-mobile;
        }
    }

    .menu {
        
        &::before {
            @include mixins.block(100%, $header-height-small);
        }
    
        .nav a {
            @include mixins.block(100%, $nav-height-small);

            font-size: $nav-font-small;
        }
    }
}

