@use 'colors.scss' as colors;
@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

@mixin text($font-size, $line-height, $margin-top:0) {
    font-size: $font-size;
    line-height: $line-height;
    margin-top: $margin-top;
    height: auto;
    width: 100%;
}

.bg1 { background-image: url('../../../assets/data/principles/1.svg');}
.bg2 { background-image: url('../../../assets/data/principles/2.svg');}
.bg3 { background-image: url('../../../assets/data/principles/3.svg');}
.bg4 { background-image: url('../../../assets/data/principles/4.svg');}
.bg5 { background-image: url('../../../assets/data/principles/5.svg');}
.bg6 { background-image: url('../../../assets/data/principles/6.svg');}
.bg7 { background-image: url('../../../assets/data/principles/7.svg');}
.bg8 { background-image: url('../../../assets/data/principles/8.svg');}
.bg9 { background-image: url('../../../assets/data/principles/9.svg');}
.bg10 { background-image: url('../../../assets/data/principles/10.svg');}

:host {
    @include mixins.block(100%, 100vh, flex);

    margin-bottom: 0;
    flex-direction:row-reverse;
    align-items:center;
    position: relative;
    overflow: hidden;
}

.background {
    @include mixins.block(auto, 100%, block);

    flex: 1;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.textCon {
    @include mixins.block(func.rem-calc(336), auto, block);

    flex: none;
    overflow: hidden;

    .primary {
        @include text(func.rem-calc(42),func.rem-calc(46));
    }

    .vs {
        @include text(func.rem-calc(36),func.rem-calc(40), func.rem-calc(7));

        span {
            text-decoration-line: line-through;
            color:inherit;
        }
    }

    .secondary {
        @include text(func.rem-calc(18),func.rem-calc(26),30);

        font-weight: bold;
    }

    .secondartDesc {
        @include text(func.rem-calc(14),func.rem-calc(26),7);

        color: colors.$font-secondary;
        font-weight: lighter;
    }

    .description {
        @include text(func.rem-calc(16),func.rem-calc(26),30);
    }
}


@media screen and (min-width: settings.$response-width-xxlarge) {

    .textCon {

        @include mixins.block(func.rem-calc(500), auto, block);


        .primary {
            @include text(func.rem-calc(52),func.rem-calc(56));
        }
    
        .vs {
            @include text(func.rem-calc(42),func.rem-calc(50), func.rem-calc(10));
        }
    
        .secondary {
            @include text(func.rem-calc(36),func.rem-calc(42),30);
        }
    
        .secondartDesc {
            @include text(func.rem-calc(30),func.rem-calc(36),10);
        }
    
        .description {
            @include text(func.rem-calc(32),func.rem-calc(40),30);
        }
    }

}

@media screen and (max-width: settings.$response-width-large) {

    .textCon {

        @include mixins.block(func.rem-calc(360), auto, block);

        .primary {
            @include text(func.rem-calc(36),func.rem-calc(42), func.rem-calc(7));
        }
    
        .vs {
            @include text(func.rem-calc(30),func.rem-calc(36), func.rem-calc(7));
        }

        .secondary {
            @include text(func.rem-calc(16),func.rem-calc(24),20);
        }
    
        .secondartDesc {
            @include text(func.rem-calc(12),func.rem-calc(18),5);
        }
    
        .description {
            @include text(func.rem-calc(16),func.rem-calc(20),14);
        }
    }

}

@media screen and (max-width: settings.$response-width-middle) {

    :host {
        @include mixins.block(100%, 100vh, flex);
        flex-direction:column;
    }

    .bg1 { background-image: url('../../../assets/data/principles/1.png');}
    .bg2 { background-image: url('../../../assets/data/principles/2.png');}
    .bg3 { background-image: url('../../../assets/data/principles/3.png');}
    .bg4 { background-image: url('../../../assets/data/principles/4.png');}
    .bg5 { background-image: url('../../../assets/data/principles/5.png');}
    .bg6 { background-image: url('../../../assets/data/principles/6.png');}
    .bg7 { background-image: url('../../../assets/data/principles/7.png');}
    .bg8 { background-image: url('../../../assets/data/principles/8.png');}
    .bg9 { background-image: url('../../../assets/data/principles/9.png');}
    .bg10 { background-image: url('../../../assets/data/principles/10.png');}


    .background {
        @include mixins.block(100%, auto, block);
    }
    
    .textCon {
        @include mixins.block(100%, auto, block);
        margin-bottom: func.rem-calc(16);
        
        .secondary {
            display: none;
        }
    
        .secondartDesc {
            display: none;
        }
    }
    
}

