
<div tabindex="2" role="img" [class]="getBgClass()" [title]="data.alt"></div>
<div class="textCon" *ngIf="data"  [style.marginLeft]="textMarginLeft">
    <p tabindex="2" role="heading" aria-level="1" class='primary' [innerHTML]="html(data.primary)" [style.color]="data.color"></p>
    <p tabindex="2" role="heading" aria-level="1" class='vs' [style.color]="data.color2">vs.<span [style.text-decoration-color]="data.color" [innerHTML]="html(data.vs)"></span></p>
    <p tabindex="2" role="heading" aria-level="2" class='secondary' *ngIf="data.secondary" [innerHTML]="html(data.secondary)"></p>
    <p tabindex="2" role="heading" aria-level="2" class='secondartDesc' *ngIf="data.secondartDesc" [innerHTML]="html(data.secondartDesc)"></p>
    <p tabindex="2" role="document" class='description' [attr.aria-label]="html(data.description)" [innerHTML]="html(data.description)"></p>
</div>
