<webex-description
primary="Open roles"
class='title'
className="middle"
></webex-description>
<div class="cards" #cards>
    <div class="card">
        <span>Content Design</span>
        <a routerLink="/roles">Apply Now</a>
    </div>
    <div class="card">
        <span>UX Research</span>
        <a routerLink="/roles">Apply Now</a>
    </div>
    <div class="card">
        <span>UX Designer</span>
        <a routerLink="/roles">Apply Now</a>
    </div>
</div>
<webex-description
link="See all open roles"
url="/roles"
class='link'
className="small"
></webex-description>