@use 'colors.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

$footer-height: 6.5rem;
$footer-height-mobile:8.375rem;
$footer-padding-x: 4rem;

:host {
    @include mixins.block(100%, $footer-height);
    border-top: 1px solid #4F4F4F;
    position: relative;
}

.media{

    height: $footer-height;
    text-align: center;
    display: none;

    a {
        @include mixins.block(1.5rem, 1.5rem, inline-block);

        margin:0 0.625rem;
        vertical-align: middle;
        cursor: pointer;
    }

    .linkedin {
        background: url('../../assets/icons/linkedin.svg') no-repeat center;
    }

    .facebook {
        background: url('../../assets/icons/facebook.svg') no-repeat center;
    }

    .youtube {
        background: url('../../assets/icons/youtube.svg') no-repeat center;
    }

    .instagram {
        background: url('../../assets/icons/instagram.svg') no-repeat center;
    }
}

.items{
    position: absolute;
    top: 0rem;
    right: $footer-padding-x;
    text-align: right;

    a{
        @include mixins.block(auto, $footer-height, inline-block);

        margin:0 0.625rem;
        font-size: 0.75rem;
        cursor: pointer;
    }
}

.copyright{
    @include mixins.position(0, $footer-padding-x);

    color:colors.$font-secondary;
    font-size: 0.75rem;
}

@media screen and (max-width: settings.$response-width-middle) {

    :host {
        height: $footer-height-mobile;
        text-align: center;
    }

    .media{
        height: 1.5rem;
    
        a {
            @include mixins.block(1.5rem, 1.5rem, inline-block);
            margin:0 0.625rem;
            vertical-align: middle;
        }
    
    }
    
    .items{
        position: static;
        margin-top: 2.5rem;
        text-align: center;
    }
    
    .copyright{
        position: static;
        margin-top: 0.625rem;
    }
}

@media screen and (max-width: settings.$response-width-small) {

    .items{
    
        a {
            margin:0 0.325rem;
            font-size: 0.625rem;
        }
    
    }
}