<p tabindex="2" class='primary banner-text-full' [innerHTML]="html(primary)" [style.color]="color"></p>
<p tabindex="2" class='primaryContent banner-text-full' [innerHTML]="html(primaryContent)" ></p>
<div *ngIf="secondary" [ngClass]="{float: isFloat, secondaryCon: true}" class='banner-text-full' >
    <p tabindex="2" class='secondary' [innerHTML]="html(secondary)" [style.color]="color"></p>
    <p tabindex="2" class='secondaryContent' [innerHTML]="html(secondaryContent)" ></p>
</div>
<div *ngIf="isShowLine" class="line banner-text-full"></div>