@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    @include mixins.block(100%, auto);
    position: relative;
    margin-top: func.rem-calc(25);
    text-align: center;
    overflow: visible;

    webex-description {
        text-align: left;
        @include mixins.position(0, 0);
        z-index: 10;
    }

    .background{
        @include mixins.block(100%, auto);
        @include mixins.position(0, 0);

        background: url('../../../assets/other/w.svg') no-repeat center;
        background-size: contain;
    }
}

@media screen and (max-width: settings.$response-width-middle) {

    :host {
        margin-top: func.rem-calc(72);

        webex-description {
            position:static;
        }
    
        .background{
            position:static;
        }
    }

}

@media screen and (max-width: settings.$response-width-small) {

    :host {
        margin-top: func.rem-calc(72);
    }

}