/* You can add global styles to this file, and also import other style files */
@use 'settings.scss' as settings;
@use 'colors.scss' as colors;
@use 'mixins.scss' as mixins;
@use 'functions.scss' as func;

@font-face {
    font-family: 'CiscoSansTT';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/CiscoSansTTRegular.woff2') format('woff2'),
      url('./assets/font/CiscoSansTTRegular.woff') format('woff');
    font-display: fallback;
}

* {
    font-family: CiscoSansTT, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: colors.$font-primary;
    text-decoration: none;
}

body,html {
  background-color: colors.$page-background;
  min-width: 375px;
}

body{
  @include mixins.placeholder(100%, 6rem);
}

.container-full {
  @include mixins.container();
}

.banner-text {
  width: func.rem-calc(550) ;
  margin-top: func.rem-calc(98);
}

.banner-text-full {
  width: auto;
  max-width: func.rem-calc(1980);
  margin-top: func.rem-calc(68);
}

@media screen and (max-width: settings.$response-width-large) {

  .banner-text {
    width: func.rem-calc(550);
    margin-top: func.rem-calc(68);
  }

}

@media screen and (max-width: settings.$response-width-middle) {

  .banner-text {
    width: func.rem-calc(450);
    margin-top: func.rem-calc(68);
  }

}

@media screen and (max-width: settings.$response-width-small) {

  .banner-text {
    width: func.rem-calc(350);
    margin-top: func.rem-calc(38);
  }

}