$page-background: #181818;
$section-background: #252525;

$font-primary: #ffffff;
$font-primary-hover: #757575;
$font-secondary: #818181;

$font-3rd:#4A4A4A;

$border-color: rgba(255,255,255,0.2);
$border-color-button: #3E3E3E;
