@use 'functions.scss' as func;

$z-index-normal:100;
$z-index-fixed:200;
$z-index-fixed-on:250;
$z-index-absolute:300;
$z-index-pop:400;
$z-index-max:1000;

$response-width-small: func.rem-calc(560);
$response-width-middle: func.rem-calc(1080);
$response-width-large: func.rem-calc(1440);
$response-width-xlarge: func.rem-calc(1920);
$response-width-xxlarge: func.rem-calc(2560);

$page-padding-small: func.rem-calc(32);
$page-padding-middle: func.rem-calc(64);
$page-padding-large: func.rem-calc(284);
$page-padding-xlarge: func.rem-calc(360);
$page-padding-xxlarge: func.rem-calc(480);
