<div *ngIf="!isList" class="top-banner">
    <webex-description
        primary="Team stories"
        class="b1"
        className="middle"
    ></webex-description>
    <webex-description
        secondary="Hear first-hand what it’s like to be part of the Webex Design team."
        class="b2"
        className="middle"
    ></webex-description>
    <webex-description
        link="See all stories"
        url="/stories"
        class="b3"
        className="middle"
    ></webex-description>
</div>
<webex-video
    videoUrl = "https://www.youtube.com/embed/A0OCsdOhanA"
    videoTitle = "Webex design stories: Stewart"
></webex-video>
<webex-video
    *ngIf = "isList"
    videoUrl = "https://www.youtube.com/embed/e_6xlqr0bTo"
    videoTitle = "Webex design stories: DeLauryn"
></webex-video>
<webex-video
    *ngIf = "isList"
    videoUrl = "https://www.youtube.com/embed/awYYD-lcKrw"
    videoTitle = "Webex design stories: Suzaunne"
></webex-video>

