<webex-description
    primary="Team stories"
    secondary="Hear from all the people that make the future of work possible."
    class="banner-text"
    className="middle"
></webex-description>
<webex-video
    primary="Stewart Curry"
    secondary="LEADER, UX ENG"
    description = '"My work at Webex matters because I’m helping to bring people together"'
    videoUrl = "https://www.youtube.com/embed/zdZCGln8yus"
    videoTitle = "YouTube video player"
></webex-video>
<webex-video
    *ngIf = "isList"
    primary="Stewart Curry"
    secondary="LEADER, UX ENG"
    description = '"My work at Webex matters because I’m helping to bring people together"'
    videoUrl = "https://www.youtube.com/embed/zdZCGln8yus"
    videoTitle = "YouTube video player"
></webex-video>
<webex-video
    *ngIf = "isList"
    primary="Stewart Curry"
    secondary="LEADER, UX ENG"
    description = '"My work at Webex matters because I’m helping to bring people together"'
    videoUrl = "https://www.youtube.com/embed/zdZCGln8yus"
    videoTitle = "YouTube video player"
></webex-video>
<webex-description
    *ngIf = "!isList"
    link="See all stories"
    url="/stories"
    class='link'
    className="small"
></webex-description> 
