@use 'colors.scss' as colors;
@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

$mobile-con-width: func.rem-calc(480);

:host {
    @include mixins.block(100%, auto);
    position: relative;
    margin: func.rem-calc(92) auto 0 auto;
}


.link {
    text-align: right;
    margin: 2rem 12rem 0 0;
}

@media screen and (max-width: settings.$response-width-small) {

    .link {
        margin: 2rem 2rem 0 0;
    }
    
}