<webex-description
    *ngIf = "!isList"
    primary="Team stories"
    secondary="Hear from all the people that make the future of work possible."
    class="banner-text"
    className="middle"
></webex-description>
<webex-video
    videoUrl = "https://www.youtube.com/embed/A0OCsdOhanA"
    videoTitle = "YouTube video player"
></webex-video>
<webex-video
    *ngIf = "isList"
    videoUrl = "https://www.youtube.com/embed/e_6xlqr0bTo"
    videoTitle = "YouTube video player"
></webex-video>
<webex-video
    *ngIf = "isList"
    videoUrl = "https://www.youtube.com/embed/awYYD-lcKrw"
    videoTitle = "YouTube video player"
></webex-video>
<webex-description
    *ngIf = "!isList"
    link="See all stories"
    url="/stories"
    class='link'
    className="small"
></webex-description> 
