@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    @include mixins.container-page();
}

.top-description {
    max-width: func.rem-calc(640);
}

.expand {
    @include mixins.block(100%, auto);
}

webex-slides {

    webex-description {
        margin: func.rem-calc(100) 0 ;
    }
}


@media screen and (max-width: settings.$response-width-middle) {

    :host ::ng-deep .slides-nav {
        display: none;
    }

    webex-slides {
    
        webex-description {
            margin-top: func.rem-calc(40) ;
        }
    }

}