<div class="container-middle">
    <webex-description
        class="top-description banner-text-full"
        primary="Our team"
        secondary="We’re a global team with an incredibly diverse set of skills and deep domain knowledge.<br><br>While we’re passionate about design and research, it’s not all we do. We’re also doodlers, volunteers, lego builders, cooks, authors, musicians, nature lovers, and way way more. "
    ></webex-description>
    <webex-slides>
        <webex-slides-page title="Content" color="#F69832">
            <webex-team-section
            color="#F69832"
            primary='Content design'
            primaryContent='Content designers at Webex obsess over natural, human-centered content strategy and copy. They craft language that gets to the heart of the matter, helping users make good use of their precious time. '
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Devices" color="#8A77D8">
            <webex-team-section
            color="#8A77D8"
            primary='Devices'
            primaryContent='Divided into three main areas: Industrial Design, UX Design, and Research, Devices teams work on identifying, testing, and defining improvements for the Cisco collaboration devices portfolio. '
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Ops" color="#C24289">
            <webex-team-section
            color="#C24289"
            primary='Ops'
            primaryContent='Design Operations supports and develops best practices on working together, getting great work done, and creating impact that’s felt far and wide.'
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Product" color="#D56457">
            <webex-team-section
            color="#D56457"
            primary='Product Design'
            primaryContent='Product Designers at Webex imagine, craft, and facilitate the delivery of cutting edge collaboration experiences that help people of all types do the most meaningful work of their lives.'
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Research" color="#80C66D">
            <webex-team-section
            color="#80C66D"
            primary='Research'
            primaryContent='UX Researchers uncover what users do, say, think, and feel to ensure the voice of the user impacts the strategy and design of Collaboration products.'
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Systems" color="#4493CF">
            <webex-team-section
            color="#4493CF"
            primary='Systems'
            primaryContent='Systems Designers and technologists set the standards for how the brand comes to life across the entire product ecosystem, and they own the product design system that’s foundational to everything we make. '
            ></webex-team-section>
        </webex-slides-page>
    </webex-slides>
</div>