<div class='teams-con'>
    <webex-description
    class="top-description"
    primary="Our team"
    secondary="We’re a global team that cares deeply about how people connect and work together.<br><br>While we’re passionate about design, design isn’t all we do. We’re also doodlers, volunteers, lego builders, cooks, authors, musicians, taco lovers, and way way more. "
    ></webex-description>
    <webex-slides>
        <webex-slides-page title="Product" color="#D56457">
            <webex-team-section
            color="#D56457"
            primary='Product design'
            secondary='“Design is about people.”'
            primaryContent='Product designers at Webex focus on delivering the best experience possible for people to collaborate and do the best work of their lives.'
            secondaryContent='We bring passion and drive to make it easy for people to enjoy Webex exactly how they want every day.'
            [isFloat]="true"
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Content" color="#F69832">
            <webex-team-section
            color="#F69832"
            primary='Content design'
            secondary='“Content is king. Or at least queen.”'
            primaryContent='Content designers at Webex obsess over natural, human-centered content strategy and copy.'
            secondaryContent='We partner with design, engineering, and product to create cohesive experiences with a consistent voice, so we always sound like Webex.'
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Systems" color="#4493CF">
            <webex-team-section
            color="#4493CF"
            primary='Systems'
            secondary='“Content is king. Or at least queen.”'
            primaryContent='Content designers at Webex obsess over natural, human-centered content strategy and copy.'
            secondaryContent='We partner with design, engineering, and product to create cohesive experiences with a consistent voice, so we always sound like Webex.'
            [isFloat]="true"
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Research" color="#80C66D">
            <webex-team-section
            color="#80C66D"
            primary='Research'
            secondary='“Design is about people.”'
            primaryContent='Product designers at Webex focus on delivering the best experience possible for people to collaborate and do the best work of their lives.'
            secondaryContent='We bring passion and drive to make it easy for people to enjoy Webex exactly how they want every day.'
            ></webex-team-section>
        </webex-slides-page>
        <webex-slides-page title="Ops" color="#C24289">
            <webex-team-section
            color="#C24289"
            primary='Ops'
            secondary='“Content is king. Or at least queen.”'
            primaryContent='Content designers at Webex obsess over natural, human-centered content strategy and copy.'
            secondaryContent='We partner with design, engineering, and product to create cohesive experiences with a consistent voice, so we always sound like Webex.'
            [isShowLine]="false"
            ></webex-team-section>
        </webex-slides-page>
    </webex-slides>
</div>
<webex-roles-banner></webex-roles-banner>
<webex-subscription-banner-simple></webex-subscription-banner-simple>