@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    opacity: 0;

    .stories-banner {
        margin-top: 90px !important;
        position: relative;
        z-index:10;
    }

    .news{
        margin-top: func.rem-calc(50) !important;
    }

}