@use 'functions.scss' as func;
@use 'mixins.scss' as mixins;
@use 'settings.scss' as settings;

:host {
    opacity: 0;

    .stories-banner {
        margin-top: 0 !important;
        position: relative;
        z-index:10;
    }

}